<!-- le name = "blablab" est ce qui correspond a body.name! Preter attention pour que ca corresponde au contenu de la db-->

<label>Name</label>
<input type="text" name="name" value = "<%= player.name %>">