<!-- Code injecté dans le header du layout 
par la syntaxe (<)%- include('../partials/header.ejs') %>  -->

<header>
<nav>
    <a href="/">Statify</a>
    <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/players/new">Add Player</a></li>
    </ul>
</nav>

</header>